<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>code</h1>
    <p> import nltk<br>
        from nltk.tokenize import word_tokenize <br>
        nltk.download('punkt')  # Download the necessary data<br>
        
        from nltk.tokenize import sent_tokenize<br><br>
        
    def sentence_tokenizer(text):<br>
    &nbsp;&nbsp;sentences = sent_tokenize(text)<br>
    &nbsp;&nbsp;return (sentences)</p><br><br>
    text="hello i am shreet,from indore"<br>
    sentence = sentence_tokenizer(text)<br>
    print(sentence)<br><br>

    <h4>output:</h4><p>['hello i am shreet,from indore'] </p>



    
</body>
</html>