<!DOCTYPE html>
<html>
   
<head>
    <link rel="stylesheet"  href="/static/style.css">
    
    <nav class="nvba">
        <div class="nvb">
                <li><a href="/">NLTK</a></li>
                <li><a href="/textblob/">TEXTBLOB</a></li>
                <li><a href="/spacy/">spacy</a></li>
        </div>
    </nav>
    <title>Input Form</title>
</head>
<body>

    
    <form action="/spacyy" method="post">

        <div> <h2>1. Tokenization</h2>
        <label for='user13_input'>Enter a sentence:</label><input type="text" name='user13_input'>
        <input type="submit" value="Get Output"> </div>

        <div> <h2>2. POS Tagging (parts of speech)</h2>
            <label for='user14_input'>Enter a sentence:</label><input type="text" name='user14_input'>
            <input type="submit" value="Get Output"> </div>


    </form>








    </form>
</body>
</html>