<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>code</h1>
    <p> from nltk.tokenize import word_tokenize <br>
        def word_tokenizer(text):<br>
        &nbsp;&nbsp;tokens = word_tokenize(text)<br>
        &nbsp;&nbsp;return tokens<br><br>

        text="i am shreet from indore "<br>
        word = word_tokenizer(text)<br>
        print(word)<br><br>

        <h4>output:</h4><p>['i', 'am', 'shreet', 'from', 'indore']</p>
    
    </p>


    
</body>
</html>